.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.btn-default#js-popular
          = link_to "Popular", popular_index_path
        %li.btn-default#js-newest
          = link_to "Newest", newest_index_path
      = link_to "VIEW TAGS", tags_path, class: "btn btn-default col-lg-1"

:javascript
  $('#js-#{@type}').addClass('active')
