.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          = f.fields_for :captured_images, @main_image do |image|
            .cover-image-upload.image-box#main-image
              = image_tag(image.object.content.large, class: 'img-responsive')
              = image.file_field :content
              = image.hidden_field :status, value: "main"
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
            = f.fields_for :captured_images, @sub_images do |image|
              %li.list-group-item.col-md-4
                .image-upload{ id: "sub-image-#{image.index}"}
                  = image_tag(image.object.content, class: 'img-responsive', style: "max-height: 200px; margin: 0 auto;")
                  = image.file_field :content
                  = image.hidden_field :status, value: "sub"
                  = image.hidden_field :id, value: image.object.id
      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
        .col-md-12
          %h4 Tag List
          .row
            - 3.times do |i|
              .col-md-3
                = text_field_tag "prototype[tag_list][]", @prototype.tag_list[i].presence
      .row.text-center.proto-btn
        = f.submit "UPDATE", id: "button", class: "btn btn-lg btn-primary btn-block"
