.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{role: "presentation"}
          %a{href: "#"} Popular PROTO
        %li{role: "presentation"}
          %a{href: "#"} Newest PROTO
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags

.container.proto-list
  .row
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe
    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

    .col-sm-4.col-md-3.proto-content
      .thumbnail
        %a{href: "/prototypes/show"}
          = image_tag("sample.png")
          .caption
            %h3 Salvation Army on iPad App Wireframe
            .proto-meta
              .proto-user
                %a{href: "#"} by user
              .proto-posted
                Apr 26
            %ul.proto-tag-list.list-inline
              %li
                %a{href: "#", class: "btn btn-default"} iPad
              %li
                %a{href: "#", class: "btn btn-default"} wireframe

.text-center
  %ul.pagination
    %li.disabled
      %a{"aria-label" => "Previous", href: "#"}
        %span{"aria-hidden" => "true"} «
    %li.active
      %a{href: "#"}
        1
        %span.sr-only (current)
    %li
      %a{href: "#"} 2
    %li
      %a{href: "#"} 3
    %li
      %a{href: "#"} 4
    %li
      %a{href: "#"} 5
    %li
      %a{"aria-label": "Next", href: "#"}
        %span{"aria-hidden": "true"} »
