.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
    .col-md-6.text-right{ id: "like" }
      = render partial: 'prototypes/like', locals: { prototype: @prototype }
    .col-md-6.text-right
      .extra-button
        - if user_signed_in? && @prototype.user_id == current_user.id
          .btn.btn-default.navbar-btn
            = link_to "Edit", edit_prototype_path(@prototype)
          .btn.btn-default.navbar-btn
            = link_to "Delete", prototype_path(@prototype), method: :delete
  .row
    .col-md-9.image-box
      = image_tag(@prototype.main_image.content.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        - @prototype.tag_list.each do |val|
          %li
            = link_to val, tag_path(val), class: "btn btn-default"

    %h4.col-md-12
      Comments
      %span#comments-number.num  (#{@prototype.comments.size})
    .col-md-8
      #comments
        = render partial: 'prototypes/comment', collection: @prototype.comments
      %form.form-inline
      - if user_signed_in?
        = form_for @comment do |f|
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :prototype_id, value: @prototype.id
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :content, rows: "3", placeholder: "Your comments", id: "comment-field", class: "form-control", style: "resize: vertical;"
            .form-group.col-md-2
              = f.submit "COMMENT", class: "button btn btn-primary", id: 'js-comment'
